::ng-deep .side-menu-container {
  position: absolute;
  top: 0;
  margin-top: 80px;
  padding-bottom: 60px;
  width: 133px;
  min-height: 100%;
  z-index: 10;
}

::ng-deep .menu-item {
  display: block;
  position: relative;
  min-height: 80px;
  line-height: 17px;
  border-bottom: 1px solid rgba(200,200,200,.5);
  background-repeat: no-repeat;
  background-position: 50% 16px;
}

::ng-deep .menu-item_active {
  background-color: rgba(0,0,0,.1);
}

::ng-deep .menu-item__name {
  position: absolute;
  bottom: 9px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
}
