<div class="modal-header" style="background-color: #edd5f9">
  <h4 class="modal-title" style="margin:0 auto; text-align:center;">Вход / регистрация</h4>
</div>

<div class="modal-body">
  <form [formGroup]="formGroup" (submit)="submitToGetSMS()">
    <div class="form-group">
      <label>Язык интерфейса</label>
      <select class="form-control" formControlName="langInfo" required name="langInfo" id="langInfo">
        <option *ngFor="let language of langInfoArray" [ngValue]="language.id">
          {{language.name}}
      </select>
    </div>

    <div class="form-group">
      <label>Выберите страну</label>
      <select class="form-control" formControlName="countryInfo" required name="countryInfo" id="countryInfo" (change)="changeCountry($event)">
        <option *ngFor="let country of countryInfoArray" [value]="country.id">
          {{country.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Ваш номер телефона</label>
      <div style="position: relative;
                  display: table;
                  border-collapse: separate;">
        <div style="padding: 6px 12px;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1;
                    color: #555555;
                    text-align: center;
                    background-color: #eeeeee;
                    border: 1px solid #cccccc;
                    border-radius: 13px;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    width: 1%;
                    white-space: nowrap;
                    vertical-align: middle;
                    display: table-cell;
                    box-sizing: border-box;
                    border-right: 0;">
          {{countryCode}}
        </div>
        <input formControlName="phone" type="text" class="form-control" required
               name="phone" id="phone" appPhoneMask
               style="border-bottom-left-radius: 0;
               border-top-left-radius: 0;
               border-left: 0;">
      </div>
    </div>

    <div style="text-align: right">
      <a [href]="url.privacyPolicyPage" target="_blank">Политика конфиденциальности</a> <br/>
      <a [href]="url.userAgreementRuPage" target="_blank">Пользовательское соглашение</a><br/>
    </div><br/>

    <div style="text-align: center">
      <button class="btn btn-success">Получить код</button>
    </div>
  </form><br/>
</div>

<div class="modal-body" style="background-color: #edf0f5;">
  <form (ngSubmit)="submitToGetSMS()">
    <div *ngIf="!notCall" style="text-align: center">
      На Ваш телефон будет отправлено SMS с кодом.
      SMS должно прийти в течение одной минуты,
      благодарим за терпение.
    </div><br/>

    <div *ngIf="notCall">
      <div class="row text-center">
        <blockquote class="text-notice">
          Для авторизации позвоните на телефон:<br/>
          <a href="tel:+74951206695"> +7 (495) 120-66-95. </a>
          <br />
          Звонок бесплатный.<br/>
          При звонке вам сообщат «Телефон временно недоступен» и звонок будет сброшен. Не переживайте, вернитесь в приложение, авторизация прошла успешно.<br/>
        </blockquote>
      </div>

      <div class="row text-center" style="margin:0 auto; text-align:center;">
        <span style="background: none!important;
                     border: none;
                     padding: 0!important;
                     color: #069;
                     margin:0 auto;
                     text-align:center;
                     cursor: pointer;">
          Не получилось дозвониться?
        </span>
      </div>

    </div>

    <div class="row text-center">
      <span *ngIf="notGetSMS" (click)="callAuth()" style="background: none!important;
                                                          border: none;
                                                          padding: 0!important;
                                                          color: #069;
                                                          margin:0 auto;
                                                          text-align:center;
                                                          cursor: pointer;">
        Не получили SMS?
      </span>
    </div>

    <div class="form-group">
      <label>Введите код из SMS</label>
      <input type="text" [(ngModel)]="confirmCode" class="form-control" required name="confirmCode" [disabled]="hasntSMS">
    </div>
    <div style="text-align: center">
      <button class="btn btn-warning" style="background-color: #c474ea; color: white; border: 1px solid transparent;" [disabled]="!confirmCode">Далее</button>
      <div *ngIf="error" style="color: red;">
        {{error}}
      </div>
    </div>
  </form>
</div>


<!--
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
-->
