<div class="modal-header" style="background-color: lightgrey">
  &nbsp;
</div>
<div class="modal-body">
  <div style="margin:0 auto; text-align:center;">
    <img src="https://api.sessia.com/web-version/css/img/girls/main.png" ><br/>
    Вам отправлен новый пароль
  </div><br/>
  <div style="margin:0 auto; text-align:center;">
    <button (click)="ok()" class="btn btn-warning" style="background-color: #964ee2; color: white; border: 1px solid transparent; width: 40%;">Хорошо</button>
  </div>
</div>
