.logo {
  display: inline-block;
  /*background: url("../../../../assets/img/sessia-logo-md.png") no-repeat 7px 50%;*/
  background: url("https://www.sessia.com/web-version/css/img/sessia-logo-md.png") no-repeat 7px 50%;
  background-size: 120px;
  height: 54px;
  width: 159px;
  margin: 15px 0;
}
