<div class="modal-header" style="background-color: #edd5f9">
  <h4 class="modal-title" style="margin:0 auto; text-align:center;">Напомнить пароль</h4>
</div>

<div class="modal-body">
  <div style="margin:0 auto; text-align:center;">
    <div class="logo" style="background-color: #eee;"></div>
  </div>

  <form (ngSubmit)="remind()">
    <label>Номер контракта</label>
    <input class="form-control" type="text" required [(ngModel)]="contract" name="contract" (keyup)="changed()"><br />
    <label>E-mail</label>
    <input class="form-control" type="text" required [(ngModel)]="email" name="email" (keyup)="changed()"><br />
    <div [hidden]="!invalidEmail" class="alert alert-danger">
      {{invalidEmail}}
    </div>
    <label>Телефон</label>
    <input class="form-control" type="text" required [(ngModel)]="phone" name="phone" (keyup)="changed()"><br />
    <div [hidden]="!invalidPhone" class="alert alert-danger">
      {{invalidPhone}}
    </div>
    <div style="margin:0 auto; text-align:center;">
      <button [disabled]="disabled" class="btn btn-warning" style="background-color: #c474ea; color: white; border: 1px solid transparent;">Напомнить пароль</button><br/>
      <div [hidden]="!invalidCode" class="alert alert-danger">
        {{invalidCode}}
      </div>
    </div>
  </form> <br/>

  <div style="margin:0 auto; text-align:center;">
      <span (click)="newReg()" style="background: none!important;
                                                          border: none;
                                                          padding: 0!important;
                                                          color: #069;
                                                          /*text-decoration: underline;*/
                                                          cursor: pointer;">
        Новая регистрация
      </span>
  </div>
</div>
