<div class="modal-header">
  <h4 class="modal-title">Напомнить пароль</h4>
</div>

<div class="modal-body">
  <div class="logo" style="background-color: #eee;"></div>

  <form (ngSubmit)="remind()">
    <label>Номер контракта</label>
    <input class="form-control" type="text" required [(ngModel)]="contract" name="contract" (keyup)="changed()">
    <label>E-mail</label>
    <input class="form-control" type="text" required [(ngModel)]="email" name="email" (keyup)="changed()">
    <div [hidden]="!invalidEmail" class="alert alert-danger">
      {{invalidEmail}}
    </div>
    <label>Телефон</label>
    <input class="form-control" type="text" required [(ngModel)]="phone" name="phone" (keyup)="changed()"><br />
    <div [hidden]="!invalidPhone" class="alert alert-danger">
      {{invalidPhone}}
    </div>    <button [disabled]="disabled">Напомнить пароль</button>&nbsp;
  </form> <br/>

  <div class="row text-center">
      <span (click)="newReg()" style="background: none!important;
                                                          border: none;
                                                          padding: 0!important;
                                                          color: #069;
                                                          text-decoration: underline;
                                                          cursor: pointer;">
        Новая регистрация
      </span>
  </div>
</div>
