<header>
  <div style="position: absolute; left: 0; width: 50%; color: white">
    <a routerLink="" class="logo"></a>
  </div>

  <div class="header__authorization">
    <div class="header__user">

      <div class="header__block-name" style="font-size: 18px; font-family: Arial; margin-bottom: 40px;">
        <a routerLink="/support" *ngIf="showAccount" class="icon icon_head-phones_white header__help-icon" style="padding-bottom: 10px;"></a>
        <a routerLink="/account" *ngIf="name && surname">
          <span>{{name}}&nbsp;</span>
          <span>{{surname}}</span>
        </a>&nbsp;
        <span *ngIf="memberId" style="color: white">({{memberId}})</span>
      </div>

      <a routerLink="/login" *ngIf="showAccount" (click)="logOut()" class="header__exit" style="font-size: 14px; font-family: Arial; margin-bottom: 50px;">Выйти</a>
    </div>
  </div>
</header>
