<form [formGroup]="formGroup" (submit)="onSubmit()">

  <div class="row form-group text-center">
    <!--<div class="logo-block">-->
      <label style="margin:0 auto; text-align:center;">
        <input type="file" style="display: none" (change)="loadLogo($event)"/>
        <div style="margin:0 auto; text-align:center;">
          <div class="logo logo_sm user-pic-logo" [ngStyle]="{'background-image':'url(' + formGroup.controls['photo'].value + ')'}"></div><br/>
          <div class="btn btn-success" style="cursor: pointer">Загрузите фотографию</div>
        </div>
      </label>
    <!--</div>-->
  </div><br/>

  <div class="form-group">
    <label for="name">Имя*</label>
    <input type="text" id="name" formControlName="name" class="form-control">
    <div class="error" *ngIf="isControlInvalid('name')">
      Укажите имя
    </div>
  </div>

  <div class="form-group">
    <label for="surname">Фамилия*</label>
    <input type="text" id="surname" formControlName="surname" class="form-control">
    <div class="error" *ngIf="isControlInvalid('surname')">
      Укажите фамилию
    </div>
  </div>

  <div class="form-group">
    <label for="birthDate">Дата рождения</label>
    <input type="text" id="birthDate" formControlName="birthDate" class="form-control mb-3" [placeholder]="birthDate" bsDatepicker [bsConfig]="bsConfig"/>
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" id="email" formControlName="email" class="form-control">
    <div class="error" *ngIf="isControlInvalid('email')">
      Некорректный E-mail
    </div>
  </div>

  <div class="form-group">
    <label for="country">Страна</label>
    <select id="country" formControlName="country" class="form-control" (change)="onChangeCountry()">
      <option *ngFor="let country of countryInfoArray" [value]="country.id">
        {{country.name}}
    </select>
  </div>

  <div class="form-group">
    <label for="city">Город*</label>
    <select id="city" formControlName="city" class="form-control">
      <option *ngFor="let city of cityInfoArray" [value]="city.id">
        {{city.ru_name}}
    </select>
    <div class="error" *ngIf="isControlInvalid('city')">
      Укажите город
    </div>
  </div>

  <div class=" row form-group">
    <!--<div style="margin:0 auto; text-align:center;">-->
      <label class="col-md-6">
        <input id="female" type="radio" value="0" name="gender" formControlName="gender">
        Женщина
      </label>
      <label class="col-md-6">
        <input id="male" type="radio" value="1" name="gender" formControlName="gender">
        Мужчина
      </label>
      <div class="error" *ngIf="isControlInvalid('gender')">
        Укажите пол
      </div>
    <!--</div>-->
  </div>

  <div class="form-group">
    <div style="margin:0 auto; text-align:center;">
      <button class="btn btn-warning" style="background-color: #c474ea; color: white; border: 1px solid transparent;" type="submit">Зарегистрироваться</button>
    </div>
  </div>

</form>
